<!doctype html>
<title>Login</title>

login to the OP?
<form method="POST" action="authentication">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <button type="submit" name="submit" value="submit">Authenticate</button>

</form>